// search result page varables
@product-background:#f5f5f5;
@bread-crumb-vertical-line-bgcolor: #bcbdc0;
@bread-crumb-buttons-icon-bgcolor: #898989;
@bread-crumb-buttons-icon-color: #ffffff;

@search_heading-color: #999999;
@search_heading-span-color: #666666;
@search-result-viewlink-button-color: #3399ff;
@search-result-voice-icon-bgcolor: #f6f6f6;
@search-result-voice-try-agains-color: #348ee8;
@search-result-description-color: #b6b4b4;
@search-result-add-button-color: #ffffff;
@search-result-add-button-bgcolor: #3399ff;
@search-result-review-rating-staricon-color: #00afe5;
@search-results-grid-page-title-color: #000000;
@search-results-appstore-item-border-color: #024959;
@search-results-appstore-app-icon-bgcolor: #024959;
@search-results-appstore-add-icon-bgcolor: #00afe5;
@search-results-appstore-add-icon-border-color: #ffffff;
@search-results-appstore-add-icon-button-color:#ffffff;
@search-results-item-title-color: #000000;
@search-results-staricon-color: #00afe5;
@search-results-starempty-color: #999999;
@search-results-attributes-color: #b4b4b4;
@search-results-thumbnail-hover-color: #000000;
@search-results-description-color: #7d7d7d;
@search-results-thumbnail-title-bgcolor: #ffffff;
@search-results-list-item-bgcolor: #ffffff;
@search-results-h6-color: #000000;
@search-results-p-color: #b6b4b4;
@search-results-vertical-line-bgcolor: #e6e7e8;

.searchLayout {
  background: @product-background;
}

.bread_crumb_buttons {
  span {
    &.vertical_line {
      width: 1px;
      background: @bread-crumb-vertical-line-bgcolor;
      border-radius: 0;
      display: block;
      float: left;
      height: 20px;
    }
    &.icon {
      width: 20px;
      height: 20px;
      text-align: center;
      background: @bread-crumb-buttons-icon-bgcolor;
      color: @bread-crumb-buttons-icon-color;
      border-radius: 50%;
      position: relative;
      display: block;
      float: left;
      &:before {
        position: absolute;
        font-family: FontAwesome;
        .font-size(10);
        color: @bread-crumb-buttons-icon-color;
        text-align: center;
        left: 5px;
        top: 5px;
      }

      &.grid_icon {
        &:before {
          content: "\f009";
        }
      }
      &.list_icon {
        &:before {
          content: "\f00b";
        }
      }
      &.selected,
      &:hover {
        background: @primary-bg;
      }
    }
  }
}

// search dropdown suggessions
.search_result_container {
  padding: 0 !important;
  .border-radius(@borderRadius) !important;
  .search_heading {
    div {
      font-family: @font-stack-bold;
      .font-size(14);
      color: @search_heading-color;
      span {
        color: @search_heading-span-color;
      }
    }
  }
  .search_result_viewlink {
    .webix_el_box {
      button {
        font-family: @font-stack-bold;
        .font-size(12);
        color: @search-result-viewlink-button-color;
        text-decoration: underline;
        background: transparent;
        border: none;
        text-transform: none;
      }
    }
  }
  .voice_icon {
    div {
      background: @search-result-voice-icon-bgcolor;
      width: 208px; //
      height: 208px; //
      text-align: center;
      padding: 40px 0px;
      vertical-align: top;
      text-align: center;
      img {
        padding-top: 15px;
      }
    }
  }
  .voice_txt {
    .plain_txt {
      div {
        .font-size(22);
      }
    }
    .try_again {
      div {
        color: @search-result-voice-try-agains-color;
        font-family: @font-stack-bold;
      }
    }
  }
  .search_suggestions_conatiner {
    overflow-y: auto;
  }
  .webix_win_content {
    padding-bottom: 0 !important;
  }
  &::after {
    position: absolute;
    width: 100%;
    height: 25%;
    z-index: 999;
    bottom: 0;
    left: 0;
    content: "";
    background: linear-gradient(to top, #fff, transparent);
  }
}

.search {
  .search-results::after {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    top: 0;
    left: 0;
    content: "";
    background: linear-gradient(to top, #fff, transparent);
  }
}

// search suggestion item
.search_result_item {
  .search_result_img {
    div {
      img {
        width: 70px;
        height: 70px;
        .border-radius(@borderRadius);
      }
    }
  }
  .search_result_heading {
    div {
      font-family: @font-stack-bold;
      .font-size(14);
      color: @black;
    }
  }
  .search_result_description {
    div {
      color: @search-result-description-color;
      font-family: @font-stack-regular;
      .font-size(14);
    }
  }
  .search_result_add_button {
    .webix_el_box {
      button {
        font-family: @font-stack-bold;
        .font-size(12);
        color: @search-result-add-button-color;
        background: @search-result-add-button-bgcolor;
        border: none;
        width: 100%;
      }
    }
  }
  .review_rating {
    span {
      .staricon {
        .font-size(13);
        color: @search-result-review-rating-staricon-color;
      }
    }
  }
}
// search result grid item
.search_results_grid {
  position: relative;
  z-index: 90;
  background: @product-background;
  .page-title {
    margin-left: 18px !important;
    div {
      .font-size(24);
      color: @search-results-grid-page-title-color;
      font-family: "open_sansbold";
    }
  }

  .thumbnail_hover_container {
    height: auto !important;
  }

  .webix_dataview_item {
    height: 100% !important;
    border: 0px;
    padding: 0px;
  }

  .landing-dataviewitem {
    border: 0px !important;
  }

  .webix_flexlayout {
    background: none !important;
  }

  .appstore-item {
    border: 1px solid @search-results-appstore-item-border-color;
    .border-radius(@borderRadius);
  }

  .appstore-app-icon {
    background: @search-results-appstore-app-icon-bgcolor;
  }

  .appstore-thumbnail,
  .appstore-app-icon {
    width: 100% !important;
  }

  .appstore-add-icon {
    margin: 0px !important;
    width: 22px !important;
    height: 22px !important;
    background: @search-results-appstore-add-icon-bgcolor;
    border: 2px solid @search-results-appstore-add-icon-border-color !important;
    border-radius: 50%;
    .webix_el_box {
      width: auto !important;
      height: auto !important;
    }
    button {
      color: @search-results-appstore-add-icon-button-color;
      .font-size(24);
      font-family: opensans_regular;
      line-height: 16px;
      vertical-align: top;
      background: none !important;
      padding: 0px;
      margin-left: 3px;
      margin-top:1px;
    }
    &.disable {
      pointer-events: none;
      opacity: 0.5;
      button {
        pointer-events: none;
        opacity: 0.5;
      }
    }
  }

  .item-title {
    border: 0px !important;
    color: @search-results-item-title-color;
    .font-size(14);
    font-family: "open_sansbold";
    div {
      line-height: 19px !important;
    }
  }

  .appstore-rating {
    margin: 0 auto;
  }

  .staricon {
    .font-size(16);
    color: @search-results-staricon-color;
  }

  .starempty {
    color: @search-results-starempty-color;
  }

  .attributes {
    .webix_el_label div {
      color: @search-results-attributes-color;
      .font-size(14);
      font-family: "open_sansbold";
    }

    .webix_el_icon {
      margin-top: 0px !important;
      margin-left: 0px !important;
      width: auto !important;
      height: 100% !important;
      line-height: 8px;
      margin-right: 0px;
      .webix_icon {
        color: @search-results-attributes-color;
      }
    }
  }

  .landing-thumbnail-css {
    position: relative;
  }

  .landing-thumbnail-css:hover {
    box-shadow: 0 1px 2px rgba(25, 25, 25, 0.6);
  }

  .landing-thumbnail-css:hover .app-thumbnail-hover {
    display: block;
  }

  .app-thumbnail-hover {
    position: absolute;
    display: none;
    bottom: 0;
    width: 100% !important;
    height: 67% !important;
    padding: 15px 0px;
    left: 0;
    background: rgba(255, 255, 255, 0.95);
    .title {
      width: auto !important;
      height: auto !important;
      cursor: pointer;
      div {
        color: @search-results-thumbnail-hover-color;
        .font-size(14);
        font-family: "open_sansbold";
        line-height: 16px !important;
        padding: 0px 15px;
      }
    }

    .description {
      width: auto !important;
      height: auto !important;
      cursor: pointer;
      div {
        color: @search-results-description-color;
        .font-size(14);
        font-family: "open_sansregular";
        line-height: 16px !important;
        padding: 0px 15px;
      }
    }
  }

  .thumbnail-title-container {
    background: @search-results-thumbnail-title-bgcolor;
  }
}

// search result list item
.search_results_list {
  .search_list_item {
    .border-radius(@borderRadius);
    background: @search-results-list-item-bgcolor;
    .image_holder {
      text-align: center;
      position: relative;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      div {
        img {
          width: 64px;
          height: 64px;
          border-radius: 50%;
          margin: 0 auto;
        }
      }
    }
    .appstore-add-icon {
      margin: 0px !important;
      width: 22px !important;
      height: 22px !important;
      background: @search-results-appstore-add-icon-bgcolor;
      border: 1px solid @search-results-appstore-add-icon-border-color !important;
      border-radius: 50%;
      .webix_el_box {
        width: auto !important;
        height: auto !important;
      }
      button {
        color: @search-results-appstore-add-icon-button-color;
        .font-size(24);
        font-family: opensans_regular;
        line-height: 16px;
        vertical-align: top;
        background: none !important;
        padding: 0px;
        margin-left: 3px;
      }
      &.disable {
        pointer-events: none;
        opacity: 0.5;
        button {
          pointer-events: none;
          opacity: 0.5;
        }
      }
    }
    .vux_h6 {
      color: @search-results-h6-color;
      text-transform: uppercase;
    }
    .vux_p {
      color: @search-results-p-color;
    }
    .vertical_line {
      width: 1px;
      background: @search-results-vertical-line-bgcolor;
    }
    .appstore-rating {
      margin: 0 auto;
    }

    .staricon {
      .font-size(16);
      color: @search-results-staricon-color;
    }

    .starempty {
      color: @search-results-starempty-color;
    }

    .attributes {
      .webix_el_label div {
        color: @search-results-attributes-color;
        .font-size(14);
        font-family: "open_sansbold";
      }

      .webix_el_icon {
        margin-top: 0px !important;
        margin-left: 0px !important;
        width: auto !important;
        height: 100% !important;
        line-height: 8px;
        margin-right: 0px;
        .webix_icon {
          color: @search-results-attributes-color;
        }
      }
    }
    &::hover {
      box-shadow: 0 1px 2px rgba(25, 25, 25, 0.6);
    }
  }
}
