// settings page varables
@settings-header-bgcolor: #ffffff;
@settings-header-border-color: #e1e1e1;
@settings-main-title-color: #c2c2c2;
@settings-user-img-bg-color: #15cc92;
@settings-user-img-color: #ffffff;
@settings-header-heading-color: #000000;
@settings-header-subheading-color: #959595;
@settings-solution-count-bgcolor: #e5e5e5;
@settings-solution-count-color: #000000;
@settings-solution-name-color: #000000;
@settings-main-heading-color: #000000;

@settings-webix-item-tab-color: #ffffff;

@settings-webix-multiview-border-color: #003d60;
@settings-solution-item-border-color: #f0f0f0;
@settings-solution-img-border-color: #e1e1e1;
@settings-solution-radio-border-color: #cbcbcb;
@settings-solution-radio-bgcolor: #f2f2f2;
@settings-solution-label-color: #0073b0;
@settings-solution-selected-bgcolor: #003d60;
@settings-solution-selected-border-color: #003d60;
@settings-selected-bgcolor: #003d60;
@settings-selected-border-color: #003d60;
@settings-selected-before-bgcolor: #ffffff;
@settings-selected-label-color: #ffffff;
@soltuion-item-footer-button-selected: #ebebeb;
@soltuion-item-footer-button-focus: #808080;
@last-modified-color: #999999;

// gowtham added
@settings-toolbar-bgcolor: #0385cd;
@settings-toolbar-title-color: #ffffff;
@settings-toolbar-close-button-color: #ffffff;
@settings-toolbar-close-button-bgcolor: #0385cd;

@settings-information-bg: #ffffff;

.settings_header {
  background: @settings-header-bgcolor;
  .border-radius(@borderRadius);
  border: 1px solid @settings-header-border-color;

  .settings_main_title {
    div {
      .font-size(16);
      color: @settings-main-title-color;
      font-family: @font-stack-bold;
    }
  }

  .settings_user_img {
    width: 115px;
    height: 115px;
    background-color: @settings-user-img-bg-color;
    padding: 3px 10px 15px 20px;
    align-content: center;
    .font-size(55);
    .border-radius(@borderRadius);
    color: @settings-user-img-color;
    img {
      .border-radius(@borderRadius);
    }
  }

  .settings_header_heading {
    div {
      .font-size(32);
      color: @settings-header-heading-color;
      font-family: @font-stack-regular;
    }
  }

  .settings_header_subheading {
    div {
      .font-size(14);
      color: @settings-header-subheading-color;
      font-family: @font-stack-regular;
      b {
        color: #000000;
      }
    }
  }
  .settings_solution_count {
    div {
      background: @settings-solution-count-bgcolor;
      color: @settings-solution-count-color;
      font-family: "BebasNeue";
      padding: 10px;
      .border-radius(@borderRadius);
    }
  }

  .settings_solution_name {
    div {
      color: @settings-solution-name-color;
      font-family: @font-stack-bold;
      .font-size(14);
    }
  }
}

.settings_main_heading {
  div {
    color: @settings-main-heading-color;
    .font-size(16);
    font-family: @font-stack-bold;
  }
}

.settings_information {
  width: auto !important;
  height: 100% !important;
  background: @settings-information-bg;
  .webix_dataview_item {
    width: 100% !important;
    padding: 0 !important;
    margin: 0 20px !important;
    background: @settings-information-bg;
  }
  .webix_view {
    border: 0px;
  }

  .webix_multiview {
    border: 1px solid @settings-webix-multiview-border-color !important;
    // max-height: 295px !important;
    // height:auto !important;
    overflow-y: auto !important;
  }
}

.settings_solution_item {
  border-bottom: 1px solid @settings-solution-item-border-color;
  .image_holder {
    .border-radius(@borderRadius);
    width: 192px;
    height: 192px;
    text-align: center;

    div {
      img {
        width: 100%;
        .border-radius(@borderRadius);
        border: 1px solid @settings-solution-img-border-color;
        padding: 20px;
      }
    }
  }

  .webix_el_radio {
    .webix_custom_radio {
      border: 1px solid @settings-solution-radio-border-color;
      height: 26px;
      width: 26px;
      background: @settings-solution-radio-bgcolor;
      // &:focus {
      //   background: #003d60;
      //   border: 1px solid #003d60;
      // }
      &:before {
        background-color: transparent;
      }
    }
    .webix_label_right {
      color: @settings-solution-label-color;
      .font-size(14);
      font-family: @font-stack-bold;
    }
    &.selected {
      .webix_custom_radio {
        background: @settings-solution-selected-bgcolor;
        border: 1px solid @settings-solution-selected-border-color;
        &:before {
          width: 8px;
          height: 8px;
          display: block;
          border-radius: 50%;
          margin-left: 5px;
          background: @settings-selected-before-bgcolor;
          top: 50%;
        }
      }
      .webix_label_right {
        color: @settings-selected-label-color;
        background: url("../../assets/images/ribbon.png") no-repeat;
        min-width: 190px !important;
        margin-left: 10px !important;
        display: inline-block;
        height: 100%;
        line-height: 24px;
      }
    }
  }

  .solutions_created_on {
    div {
      font-family: @font-stack-regular;
      .font-size(14);
      color: #6b6b6b;
      b {
        color: #6e8592;
        font-family: @font-stack-bold;
      }
    }
  }
  .vux_h5 > div {
    color: @black;
    line-height: 18px !important;
  }
  .vux_p > span {
    color: @black;
    font-family: @font-stack-regular;
    .font-size(14);
    line-height: 24px !important;
  }

  .soltuion_item_footer {
    .webix_el_button {
      .webix_el_box {
        button.webixtype_base {
          .border-radius(@borderRadius);
          color: @primary-bg;
          background: transparent;
          border: none;
          .font-size(14);
          text-transform: uppercase;
          font-family: @font-stack-bold;
          padding: 0 10px;
          position: relative;
          span {
            font-size: 16px;
          }
        }
      }
      &.selected {
        button.webixtype_base {
          background: @soltuion-item-footer-button-selected;
        }
      }
      &:hover {
        button.webixtype_base {
          background: @soltuion-item-footer-button-selected;
        }
      }
      &.focus {
        button.webixtype_base {
          background-color: @soltuion-item-footer-button-focus;
        }
      }
      // &.edit {
      //   .webix_el_box {
      //     button.webixtype_base {
      //       padding-left: 32px;
      //       &:before {
      //         content: "/f044";
      //         font-family: FontAwesome;
      //         width: 16px;
      //         height: 16px;
      //         .font-size(16);
      //         position: absolute;
      //         left: 10px;
      //         top: 6px;
      //       }
      //     }
      //   }
      // }
    }

    .vertical_line {
      height: 30px !important;
      background: #ebebeb;
    }
    .webix_el_box {
      padding: 0 !important;
    }
  }

  .settings_description {
    height: auto !important;
    .vux_p {
      height: auto !important;
    }
  }
}

.last_modified_container {
  float: right;
  .last_modified_heading {
    div {
      color: @last-modified-color;
      .font-size(10);
      font-family: @font-stack;
      line-height: 12px !important;
      span {
        &.last_modified_time {
          display: block;
          font-family: @font-stack-bold;
          .font-size(14);
          color: @last-modified-color;
        }
      }
    }

    &.right {
      div {
        text-align: right;
      }
    }
  }

  .vertical_line {
    div {
      background: #cccccc;
    }
  }
}

.settings-info-layout {
  /* height: auto !important;*/
}

.settings-window {
  .webix_win_head {
    border-top: 0;
    .webix_layout_toolbar {
      &.settings-toolbar {
        background: @settings-toolbar-bgcolor;
        .settings-toolbar-title {
          div {
            color: @settings-toolbar-title-color;
            font-family: @font-stack-bold;
            .font-size(18);
          }
        }
      }
      .settings-toolbar-close-icon {
        button {
          background: @settings-toolbar-close-button-bgcolor;
          color: @settings-toolbar-close-button-color;
          font-family: @font-stack-bold;
          padding: 8px 0;
          line-height: 18px !important;
          .webix_icon {
            color: @settings-toolbar-close-button-color;
            margin-top: -4px;
          }
        }
      }
    }
  }
  .webix_win_content {
    height: 100% !important;
  }
  .webix_win_body {
    height: 100% !important;
    // overflow-y: scroll;
  }
  .vulcanux-sp-renderer > div {
    height: 100% !important;
  }
  .vulcanux-app-renderer > div {
    height: 100% !important;
  }
  .vux-app-layout {
    height: 100% !important;
  }
  .vux-app-container {
    height: 100% !important;
  }
  .vux-app-container > .ngcustom-webix {
    height: 100% !important;
  }
  .micro-app > div {
    height: 100% !important;
    width: 100% !important;
  }
  .vux-microapp {
    height: 100% !important;
    width: 100% !important;
    #container {
      height: 100% !important;
    }
  }

  .webix_view.webix_flexlayout {
    width: 100% !important;
  }
  .settings-solutions {
    height: auto !important;
  }
  .settings-layout {
    height: 100% !important;
  }
}
