@toolbar-background: #fff;
@toolbar-button-color: #0385cd;
@toolbar-button-active-color: #003d60;
@toolbar-button-active-arrow: #ffffff;
@toolbar-more-background: #d1dcdf;
@toolbar-more-color: #455053;
@toolbar-more-sep: #b2b8bb;
@toolbar-more-arrow: #0385cd;
@toolbar-more-placeholder: #455053;

.appstore-toolbar {
  background: transparent !important;
  width: 100%;
  overflow: inherit;
  box-sizing: border-box;
  -webkit-sizing: border-box;
  .webix_scroll_cont {
    -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.15);
    padding-left: 5px;
    background: @toolbar-background;
  }
  .webix_scrollview,
  .webix_scroll_cont,
  .webix_layout_toolbar {
    border: 0px;
    height: auto !important;
    width: auto !important;
    overflow: visible !important;
    line-height: 24px;
  }

  .toolbar-buttons {
    .webix_view,
    .webix_el_box {
      height: auto !important;
      width: auto !important;
      overflow: visible !important;
    }
  }

  .webix_el_box {
    padding: 0px;
  }

  .webix_layout_toolbar.webix_toolbar {
    background: none;
  }

  .webix_el_button {
    margin: 0px !important;
    height: auto !important;
    width: auto !important;
    button {
      font-family: @font-stack-bold;
      border: 0px;
      color: @toolbar-button-color;
      font-size: 16px;
      letter-spacing: 0px;
      background: none !important;
      text-transform: none;
      padding: 12px 15px 12px 15px;
    }
  }
  .webix_layout_toolbar.webix_toolbar .webixtype_base:hover,
  .webix_layout_toolbar.webix_toolbar .webixtype_base:active {
    background: none;
    color: @toolbar-button-color !important;
    box-shadow: none;
  }
  .webix_el_button.active button, .webix_el_button button:active {
    color: @toolbar-button-active-color;
    position: relative;
    &:hover,
    &:active {
      color: @toolbar-button-active-color;
    }
  }

  .webix_el_button.active {
    button {
      position: relative;
      &:before {
        width: 0;
        height: 0;
        content: "";
        position: absolute;
        bottom: 0;
        border-style: solid;
        border-width: 13px 18px 0 18px;
        border-color: @toolbar-button-active-arrow transparent transparent
          transparent;
        bottom: -12px;
        z-index: 98;
        left: 0px;
        -webkit-filter: drop-shadow(0 3px 2px rgba(0, 0, 0, 0.1));
        -moz-filter: drop-shadow(0 3px 2px rgba(0, 0, 0, 0.1));
        -ms-filter: drop-shadow(0 3px 2px rgba(0, 0, 0, 0.1));
        -o-filter: drop-shadow(0 3px 2px rgba(0, 0, 0, 0.1));
        filter: drop-shadow(0 3px 2px rgba(0, 0, 0, 0.1));
        font-size: 100px;
        margin: 0 auto;
        left: 0;
        right: 0;
      }
    }
  }

  .more-toolbar {
    float: right;
    height: 36px !important;
    input {
      background: @toolbar-more-background;
      color: @toolbar-more-color;
      .border-radius(@borderRadius);
      font-family: @font-stack-bold;
      padding-left: 15px;
    }
    .webix_el_button,
    .webix_el_box {
      padding: 0px !important;
      height: 36px !important;
    }
    .vuxicon-angle-down {
      padding-top: 14px !important;
      height: 10px !important;
      border-left: 1px solid @toolbar-more-sep;
      margin-top: 3px;
      right: 5px;
    }
    .vuxicon-angle-down:before {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0;
      border-color: @toolbar-more-arrow transparent transparent transparent;
      content: "";
      top: -13px;
      position: relative;
    }
  }
}

.appstore-combo-placeholder({color: @toolbar-more-placeholder;});

.stickytoolbar {
  position: fixed;
  top: 45px;
  z-index: 99;
  width: 100%;
}

.appstore-toolbar {
  width: 100% !important;
}
.toolbarbtn {
  position: absolute;
  visibility: hidden;
  height: auto;
  width: auto;
  white-space: nowrap;
  font-family: "open_sansbold";
  font-size: 16px;
  letter-spacing: 0px;
  padding: 12px 15px 12px 15px;
}
