<!-- <appstore-thumbnail-mini class="items" *ngIf="appdata" [data]="appdata"></appstore-thumbnail-mini> -->
<vulcanux-control *ngIf="realtedLblConfig" [config]="realtedLblConfig"></vulcanux-control>
<vulcanux-dataview *ngIf="relatedAppsConfig" [config]="relatedAppsConfig"></vulcanux-dataview>
<div id="paging_here"></div>